@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Custom Sleek Dark Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F19;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}